html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  
} */

.container {
	width: calc(100% - 100px);
	min-height: 50vh;
	margin: 50px;
	padding: 50px;
	backdrop-filter: blur(8px);
	box-shadow: 0 0 10px #00000046;
	border-radius: 10px;
	position: relative;
	font: "normal 40px/2 Segoe Print,Verdana, Helvetica";
}

.container::after {
	box-shadow: inset 0 0 10px #ffffff8e;
	content: "";
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #f6f6db;
	z-index: -5;
	top: 0;
	left: 0;
	border-bottom-right-radius: 100%;
	border-top-left-radius: 5px;
}

.container::before {
	box-shadow: inset 0 0 10px #ffffff;
	content: "";
	position: absolute;
	width: 250px;
	height: 250px;
	background-color: #f6f6db;
	z-index: -5;
	bottom: 0;
	right: 0;
	border-top-left-radius: 100%;
	border-bottom-right-radius: 5px;
}

.my-title {
	text-shadow: "#f9fafb 0px 1px 0px, #0d6efd 3px 3px 3px";
	text-align: "center";
	color: "#666";
	margin: "0 0 30px 0";
	letter-spacing: "4px";
	font: "normal 40px/2 Segoe Print,Verdana, Helvetica";
	position: "relative";
}

.inp-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inp-top img {
	filter: drop-shadow(8px 5px 7px #a32b5d49);
	max-width: 70%;
}

.pageTitle {
	font-size: 41px;
	color: #ff3b8d;
	margin: 50px;
}

.inp-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px;
}

.inpGroup {
	min-width: calc(100% - 400px);
	width: 400px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.inp {
	font-size: 16px;
	border: 0;
	outline: none;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.158);
	background-color: #00000005;
	border-radius: 5px;
	width: 100%;


}

.inpLbl {
	transition: 200ms ease-in;
	position: absolute;
	left: 5px;
	top: 5px;
	color: #818181;
	z-index: -1;

}

.inp:focus~label,
.inp:valid~label {
	left: 0px;
	top: -20px;
	color: #ff3b8d;
	font-size: 14px;
}

.inp:focus~span {
	transition: 200ms ease-in;
	background-color: #ff3b8d;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 2px;
	left: 0;
}

.inpRange {
	background-color: transparent;
	border: none;
	padding: 0;
}

.inpGroup div output {
	font-size: 16px;
}

.rangeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.radioContainer p {
	margin: 10px;
}

body {
	/* background-image: url(../bg.png); */
	background-attachment: fixed;
	background-size: cover;
}

#landing_container {
	position: relative;
	min-height: fit-content;
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

#landing_left {
	padding-left: 7%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38%;
	min-height: fit-content;
	height: 100%;
}

#landing_right {
	width: 62%;
	height: 100%;
	min-height: fit-content;
	/* background-image: url(images/bg.svg); */
	background-repeat: no-repeat;
	background-position: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#landing_icon {
	transition: 0.1s linear;
	height: 60%;
	width: 90%;
	padding-bottom: 40px;
	max-width: 600px;
	filter: drop-shadow(5px 5px 4px #17172698);
}

#landing_bg {
	right: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	filter: drop-shadow(5px 5px 4px #17172698);
}

#left_container {
	filter: drop-shadow(5px 5px 4px #1717264b);
	width: 80%;
	height: fit-content;
}

#appTitle {
	color: #ff3b8d;
	font-size: 42px;
	line-height: 68px;
	font-weight: bold;
}

#left_container p {
	font-size: 16px;
	line-height: 26px;
	color: rgb(68, 68, 68);
}

#about_us {
	background-color: #ff3b8d;
	color: #fff;
	padding: 5px;
	width: fit-content;
	border-radius: 15px;
	cursor: pointer;
	margin-top: 15px;
}

#landing_left>img {
	filter: drop-shadow(5px 5px 4px #1717264f);
}

#menu_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	min-width: fit-content;
	min-height: fit-content;
	justify-content: space-evenly;

}

#menu_lft {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
}

#menu_lft img {
	height: 400px;
	width: 400px;
	filter: drop-shadow(5px 5px 4px #ff3b8d2e);

}

#menu_lft img:hover {
	filter: drop-shadow(5px 5px 4px #ff3b8d59);

}

#menu_rht {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.menu_btn {
	border: 1px solid #ffffff;
	filter: drop-shadow(5px 5px 4px #1717264f);
	cursor: pointer;
	margin: 30px;
	width: 200;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	background-color: #ff3b8d;
	color: #fff;
	border-radius: 42px;
	box-shadow: inset 0 0 10px #ffffff;
}

a {
	text-decoration: none;
}

.menu_btn:nth-of-type(1) {
	background-color: #9B5DE5;
}

.menu_btn:nth-of-type(2) {
	margin-left: 70px;
	background-color: #F15BB5;
	color: #0c0e38;
}

.menu_btn:nth-of-type(3) {
	margin-left: 70px;
	background-color: #FEE440;
	color: #0c0e38;
}

.menu_btn:nth-of-type(4) {
	background-color: #00BBF9;
}

.menu_btn:nth-of-type(1) a {
	color: #fff;
}

.menu_btn:nth-of-type(4) a {
	color: #fff;
}

.menu_btn:hover {
	box-shadow: inset 0 0 10px #2517524c;
}

.WavyText {
	font-family: Arial, sans-serif;
	height: fit-content;
	width: fit-content;
	cursor: default;
}

a .WavyText {
	cursor: pointer;
	text-decoration: inherit;
}

.WavyText span {
	display: inline-block;
	height: fit-content;
	width: fit-content;
	min-width: 8px;

}

.WavyText:hover span {
	display: inline-block;
	-webkit-animation: wave-text 0.5s ease-in-out 1;
	animation: wave-text 0.5s ease-in-out 1;
}

.WavyText span:nth-child(5n + 0) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.WavyText span:nth-child(5n + 1) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.WavyText span:nth-child(5n + 2) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.WavyText span:nth-child(5n + 3) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.WavyText span:nth-child(5n + 4) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@keyframes wave-text {
	00% {
		transform: translateY(0em);
		filter: drop-shadow(5px 5px 4px #17172650);
	}

	60% {
		transform: translateY(-0.6em);
		filter: drop-shadow(5px 10px 4px #ff239160);
	}

	100% {
		transform: translateY(0em);
		filter: drop-shadow(5px 5px 4px #17172650);
	}
}

@keyframes idle-movement {
	00% {
		transform: translate(0px, 0px);
	}

	25% {
		transform: translate(10px, 10px);
	}

	50% {
		transform: translate(0px, 0px);
	}

	75% {
		transform: translate(-10px, -10px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

/* The overlay effect with black background */
.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	/* backdrop-filter: blur(50px); */
	transition: all 0.5s ease;
}

/* The content */
.overlay-content {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	width: 80%;
	text-align: center;
	margin: auto;
	padding: 30px;
	border-radius: 10px;
	/* background-color: #f4f4f4; 
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

/* Close button */
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 30px;
	cursor: pointer;
	color: #000000;
}

.overlay .closebtn:hover {
	color: #444;
}

/* Style the search field */
.overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	height: auto;
	background: #fff;
	border-radius: 0px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.overlay input[type=text]:hover {
	background: #f5f5f5;
}

/* Style the submit button */
.overlay button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #5f9ea0;
	font-size: 17px;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 0px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.overlay button:hover {
	background: #caad7a;
}


#input_reset {
	display: none;
	position: absolute;
	/* top: 52px; */
	top: 80%;
	right: 23%;
	margin: 0;
	border: 0;
	background: none;
	cursor: pointer;
	padding: 0;
}

#input_reset:focus {
	outline: 0;
}

.apply-background {
	background-image: url('/bg.jpg');
}

.btn1 {
	/* font-family: arial; */
	font-weight: bold;
	color: #FFFFFF !important;
	font-size: 14px;
	margin-top: 4%;
	padding: 10px 20px;
	border: 0px solid #F6F6DB;
	border-radius: 12px;
	background: #CAAD7E;
	width: 100%;
}

.btn1:hover {
	cursor: pointer;
	background-color: #eac486
}

.btn2 {
	/* font-family: arial; */
	font-weight: bold;
	color: #FFFFFF !important;
	/* font-size: 14px; */
	padding: 10px 20px;
	margin: 0%;
	border: 0px solid #F6F6DB;
	border-radius: 26px;
	background: #CAAD7E;
}

.btn2:hover {
	cursor: pointer;
	background-color: #eac486
}

.btn3 {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: #a7d489;
	color: #1d1d1f;
	font-size: 24px;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.btn3:hover {
	background-color: #c4dea4;
}



/* Table */
.myTable {
	border: 1px solid #C4DEA4;
	background-color: #ffffff;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.myTable td,
.myTable th {
	border: 1px solid #AAAAAA;
	padding: 5px 5px;
}

.myTable tbody td {
	font-size: 13px;
	color: #333333;
}

.myTable tr:nth-child(even) {
	background: #F6F6DB;
}

.myTable thead {
	background: #CAAD7E;
}

.myTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	border-left: 2px solid #D0E4F5;
}

.myTable thead th:first-child {
	border-left: none;
}

.myTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #CAAD7E;
	background: -moz-linear-gradient(top, #d7c19e 0%, #cfb58b 66%, #CAAD7E 100%);
	background: -webkit-linear-gradient(top, #d7c19e 0%, #cfb58b 66%, #CAAD7E 100%);
	background: linear-gradient(to bottom, #d7c19e 0%, #cfb58b 66%, #CAAD7E 100%);
	opacity: 2;
}

.myTable tfoot td {
	font-size: 14px;
}

.myTable tfoot .links {
	align-items: right;
	display: flex;
	justify-content: flex-end;
}

.myTable tfoot .links button {
	display: inline-block;
	background: #A7D489;
	color: #000000;
	padding: 2px 8px;
	border-radius: 5px;
}

.myButton {
	background-color: #caad7e;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.myButton:hover {
	background-color: #ecbc9c;
}

.myButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.my-div {
	margin-top: 7px;
}

.my-div:hover {
	/* background-color: lightgray; */
	color: black;
	cursor: pointer;
}