
.main {
  margin-top: -8%;
  background-image: url("/back.png");
  background-size: 100% 100%;
  height: 91vh;
}
.main1 {
  margin-top: -8%;
  height: 91vh;
}
.main11 {
  margin-top: -8%;
  height: 65vh;
}

.main2 {
  margin-top: -8%;
  height: 91vh;
  display: flex;
  flex-direction: row;
  min-width: calc(100%-60px);
  margin-left: calc(40px);
  margin-right: calc(40px);
}
.main3 {
  margin-top: -8%;
  display: flex;
  flex-direction: row;
  min-width: calc(100%-80px);
  margin-left: calc(140px);
  margin-right: calc(40px);
  margin-bottom: 70px;
}
.main4 {
  margin-top: -5%;
  min-width: calc(100%-80px);
  margin-left: calc(140px);
  margin-right: calc(40px);
  margin-bottom: 70px;
}
.main5 {
  margin-top: 10px;
  margin-left: -740px;
  display: flex;
  flex-direction: row;
}
.main3 div{
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: #212A3E;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
.main3 div:hover{
  background-color: #8EAC50;
  cursor: pointer;
}

.forBtn {
  /*margin-top: calc(80%);
  margin-left: calc(20%);*/
  cursor: pointer;
  margin: auto;
}


.btn {
  margin-top: 400px;
  margin-left: 245px;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #17594A;
  padding: 14px 29px 14px 29px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #8EAC50;
  color: #213363;
  text-decoration: none;
  cursor:pointer;
}
.btn:active{
  scale: 0.95;
}
.hl {
  border-top: 1px solid #212A3E;
  width: calc(90%);
  margin-left: 5%;
  margin-top: -20px;
  margin-bottom: 10px;
}
.obj{
  width: calc(30%);
  border-radius: 10px;
  background-color: rgba(23, 89, 74, 0.2);
  box-shadow: 2px 3px 6px 0px rgba(211, 208, 79, 1);
  height: calc(75%);
  margin: calc(10%/3);
  margin-top: 80px;
}


.itm {
  margin: 20px;
  margin-top: 30px;
  border: 1px solid #17594A;
}

p {
  margin:20px;
  font-family: 'Georgia';
  font-size: 25px;
  font-weight: bolder;
  color: #213363;
}
p:hover {

  cursor: pointer;
}

.price_shop {
  display: flex;
  flex-direction: row;
}

.price_shop_div {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #17594A;
}

.round_div {
  margin-left: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #213363;
  border-radius: 50px;
  background-color: rgba(23, 89, 74, 0.4);
  box-shadow: 2px 3px 6px 0px #8EAC50;
  color: #17594A;
}
.round_div:hover{
  background-color: #8EAC50;
  color: #213363;
  cursor: pointer;
}
.desc {
  margin: 20px;
}

.description {

  margin-left: 700px;
  margin-top: -400px;
  margin-right: 100px;
}
.description p {
  margin-left: 0%;
  font-size: 25px;
  color: #17594A;
}


/* Table */
.myTable {
	border: 1px solid #C4DEA4;
	background-color: #ffffff;
	text-align: left;
	border-collapse: collapse;
}

.myTable td,
.myTable th {
	border: 1px solid #AAAAAA;
	padding: 5px 150px;
}

.myTable tbody td {
	font-size: 13px;
	color: #333333;
}

.myTable tr:nth-child(even) {
	background: #F6F6DB;
}

.myTable thead {
	background: #CAAD7E;
}

.myTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	border-left: 2px solid #D0E4F5;
}

.myTable thead th:first-child {
	border-left: none;
}

.myTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #CAAD7E;
	background: -moz-linear-gradient(top, #d7c19e 0%, #cfb58b 66%, #CAAD7E 100%);
	background: -webkit-linear-gradient(top, #d7c19e 0%, #cfb58b 66%, #CAAD7E 100%);
	background: linear-gradient(to bottom, #d7c19e 0%, #cfb58b 66%, #CAAD7E 100%);
	opacity: 2;
}

.myTable tfoot td {
	font-size: 14px;
}

.myTable tfoot .links {
	align-items: right;
	display: flex;
	justify-content: flex-end;
}

.myTable tfoot .links button {
	display: inline-block;
	background: #A7D489;
	color: #000000;
	padding: 2px 8px;
	border-radius: 5px;
}